/* Custom styles for the house quadrants */
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Responsive grid columns */
    gap: 40px; /* Gap between grid items */
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.house-quadrant {
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .house-quadrant:hover {
    transform: scale(1.05);
} */

.house-image {
    max-width: 100px;
    transition: transform 0.2s;
}

/* .house-image:hover {
    transform: scale(1.1);
} */

.score-button {
    width: 50px;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    margin-top: 20px;
    color: #333;
    text-align: center;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}

/* Custom styles for the spinner */
.spinner-border {
    color: #007bff;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    .container-fluid {
        grid-template-columns: 1fr; /* Switch to one column for smaller screens */
    }
}
